# Object files
*.o
*.ko
*.obj
~*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Directories
/hw1/data
/hw1/Plots
/hw3/data
/hw4/data

# temp files
*.asv